
.bg-doctor-img{
    background-image: url("../images/doctor-image.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


@media(min-width: 768px) {
    .booking_title{
        font-size: 38px;
        font-weight: 600;
        line-height: 1.26;
        margin-bottom: 18px;
    }

    .booking_body{
        max-width: 502px;
        height: 56px;
        font-size: 22px;
        line-height: 1.27;
    }
}