.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgb(144, 49, 158);
    border-color: rgb(144, 49, 158);
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(144, 49, 158);
    background-color: #fff;
    border: 1px solid #dee2e6;
}